@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lato&family=Montserrat&family=Open+Sans&family=Roboto&family=Shadows+Into+Light&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Allison&display=swap'); */

.font-link {
  font-family: 'Architects Daughter', 'Allison', 'cursive';
  font-family: 'Architects Daughter', cursive;
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Shadows Into Light', cursive;
}

.bigimg {
  width: 70vw;
  height: 60vh;
  border-radius: 10px;
}
